.bg-image {
  background-image: url("https://cdn.pixabay.com/photo/2019/10/17/08/57/internet-of-things-4556366_1280.jpg");
  position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: wheat;
    /* font-weight: 600; */
}

.middle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.middle-btn h1{
 font-size: 2rem;
}

.middle-btn p{
  text-align: justify;
  width: 75%;
}


